/* 
    Document   : ie7
    Created on : 1-sep-2010, 11:42:00
    Author     : User03
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

input.button {
    top: 0;
}